<section
  class="my-4 sm:my-8 rounded-lg border px-3 py-5 bg-light-m dark:bg-dark-m"
>
  <h2 id="education-heading" class="text-lg font-bold mb-4 dark:text-white-h">
    التعليم
  </h2>
  <ul class="relative ms-1 sm:ms-3 space-y-8">
    <li class="ms-5">
      <div
        class="absolute w-3 h-3 bg-gray-400 dark:bg-gray-b rounded-full -start-[7px] translate-y-2/4"
        aria-hidden="true"
      >
      </div>

      <article>
        <h3
          id="education-1"
          class="text-base font-semibold mb-2.5 dark:text-white-h"
          aria-labelledby="education-heading education-1"
        >
          كلية الشريعه والقانون جامعة الازهر
        </h3>
        <p>
          <span class="visually-hidden">درجة البكالوريوس</span>
          <span aria-hidden="true">درجة البكالوريوس</span>
        </p>
        <p>
          <span class="visually-hidden"
            >الفترة الزمنية للدراسة من يناير 1995 إلى يناير 1999</span
          >
          <time aria-hidden="true" datetime="1995-01">يناير 1995</time>
          <span aria-hidden="true">-</span>
          <time aria-hidden="true" datetime="1999-01">يناير 1999</time>
        </p>
        <p>
          <span class="visually-hidden">التقدير: امتياز</span>
          <span aria-hidden="true">التقدير: امتياز</span>
        </p>
      </article>
    </li>
    <li class="ms-5">
      <div
        class="absolute w-3 h-3 bg-gray-400 dark:bg-gray-b rounded-full -start-[7px] translate-y-2/4"
        aria-hidden="true"
      >
      </div>

      <article>
        <h3
          id="education-2"
          class="text-base font-semibold mb-2.5 dark:text-white-h"
          aria-labelledby="education-heading education-2"
        >
          كلية الدعوة الاسلامية جامعة الازهر
        </h3>
        <p>
          <span class="visually-hidden">درجة البكالوريوس</span>
          <span aria-hidden="true">درجة البكالوريوس</span>
        </p>
        <p>
          <span class="visually-hidden"
            >الفترة الزمنية للدراسة من يناير 1995 إلى يناير 1999</span
          >
          <time aria-hidden="true" datetime="1995-01">يناير 1995</time>
          <span aria-hidden="true">-</span>
          <time aria-hidden="true" datetime="1999-01">يناير 1999</time>
        </p>
        <p>
          <span class="visually-hidden">التقدير: امتياز</span>
          <span aria-hidden="true">التقدير: امتياز</span>
        </p>
      </article>
    </li>
  </ul>
</section>
