<section
  class="my-4 sm:my-8 rounded-lg border px-3 py-5 bg-light-m dark:bg-dark-m"
>
  <h2
    id="profileSummary-heading"
    class="text-lg font-bold mb-4 dark:text-white-h"
  >
    كلمة تعريفية
  </h2>
  <div class="space-y-5 [&_p>em]:font-medium me-4 ms-6 sm:ms-8">
    <p>
      الحمد لله الذي وفقني لخدمة دينه وعباده، وأشهد أن لا إله إلا الله وحده لا
      شريك له، وأن محمدًا عبده ورسوله.
    </p>
    <p>
      أنا العبد الفقير إلى الله <em>محمد لطفي عبد الرازق</em>، من مواليد 20 محرم
      سنة 1400 هـ (الموافق … م). وُلدت في قرية ميت الصارم مركز المنصورة، وقد
      حفظت كتاب الله في سن العاشرة على يد شيخي الفاضل محمد الرازي، فكان لذلك
      أعظم الأثر في مسيرتي العلمية والدعوية.
    </p>
    <p>
      أطلقتُ بفضل الله العديد من البرامج التعليمية والدعوية، وكانت البداية مع
      <em>حلقات تحفيظ القرآن الكريم</em>؛ حيث قمتُ بتعليم الأطفال والشباب <em
        >كتاب الله وتجويده.</em
      > وقد مَنَّ الله عليَّ بأن ختم أكثر من 20 شخصًا القرآن كاملاً، بينما تجاوز
      عدد من تعلم التجويد أكثر من 80 شخصًا.
    </p>
    <p>
      كما أوليتُ عنايةً خاصةً بتربية النشء، فأنشأتُ برنامجًا مخصصًا ضمن <em
        >زاد الأصول</em
      > لـ تدريس
      <em>العقيدة للأطفال</em> بأسلوب مبسط ومحبب، إيمانًا مني بأن بناء العقيدة الصحيحة
      هو الأساس الأهم في الدنيا والآخرة، مع مراعاة استخدام الأدوات الحديثة التي تُسهِّل
      وصول المحتوى وفهمه، خصوصًا للأشخاص من ذوي <em>الإعاقة البصرية</em>، حتى
      ينال الجميع حظهم من العلم والهداية.
    </p>
    <p>
      وأدعو الله أن يبارك في هذه الجهود، وأن يجعلها خالصة لوجهه الكريم، وأن
      يتقبلها مني ومن كل من ساهم فيها، ويجعلها في ميزان حسناتنا يوم نلقاه. وأسأل
      الله أن يديم علينا نعمة العلم والعمل، وأن يوفقنا لما يحب ويرضى.
    </p>
  </div>
</section>
