---
import Str1 from "./str1.astro";
import Str2 from "./str2.astro";
---

<html>
  <head>
    <title>A name and a fact</title>
  </head>
  <body>
    <h1>A name Default</h1>

    <Str1 ms={5000} server:defer>
      <button id="button" slot="fallback">loading...</button>
    </Str1>
    <Str2 ms={2000} server:defer />
  </body>
</html>
