---
interface Props {
  ms: number;
}

const { ms } = Astro.props;

function delay(ms: number): Promise<void> {
  return new Promise((resolve) => setTimeout(resolve, ms));
}

await delay(ms);
---

<button id="button" slot="fallback">Done...</button>

<h2>A fact</h2>
<p>Cats spend nearly 1/3 of their waking hours cleaning themselves.</p>

<script is:inline>
  let factname = document.querySelector("#button");
  if (factname) {
    factname.addEventListener("click", () => {
      console.log("you clicked the fact");
    });
  }
</script>
