---
interface Props {
  ms: number;
}

const { ms } = Astro.props;

function delay(ms: number): Promise<void> {
  return new Promise((resolve) => setTimeout(resolve, ms));
}

await delay(ms);
---

<h3>A name</h3>
<p>Nihal</p>
